name: Build snapshot version and upload to Maven Central

on:
  workflow_call:
    # Map the inputs that the caller needs to provide
    inputs:
      project_name:
        # format: <organisation>/<project_name>
        description: 'The project name to run the job. Prevent forks to run snapshot job'
        required: true
        type: string
      java_version:
        description: 'The Java version to use to compile. Default: 21'
        required: false
        type: string
        default: '21' # Java 21 is the default
      snapshot_deploy_command:
        description: 'The snapshot command to use. Default: mvn'
        required: false
        type: string
        default: 'mvn -B -V org.apache.maven.plugins:maven-source-plugin:jar-no-fork deploy'
      fetch_all_commits:
        description: 'Whether to fetch all commits. Default: false'
        required: false
        type: boolean
        default: false

    secrets:
      SONATYPE_USERNAME:
        required: true
      SONATYPE_PASSWORD:
        required: true

# cancel in-progress runs of the same workflow
# to avoid unecessary runs when multiple commits pushed
# in a short period of time
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  snapshot:
    # only run for this repository and not on forked ones
    if: github.repository == inputs.project_name
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: ${{ inputs.fetch_all_commits == true && '0' || '1' }}

    - name: Set up JDK '${{ inputs.java_version }}'
      uses: actions/setup-java@v5
      with:
        java-version: '${{ inputs.java_version }}'  # java version to use
        distribution: 'temurin'
        cache: maven                      # use cache for speed
        server-id: central-publisher      # we use this in our pom.xml
        server-username: MAVEN_USERNAME   # env var name for username
        server-password:  MAVEN_PASSWORD  # env var name for password

    - name: Extract Project version
      id: project-version
      run: echo "version=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> "$GITHUB_OUTPUT"

    - name: Deploy Snapshot
      # Only run for snapshot version and not for commits with released versions
      if: endsWith(steps.project-version.outputs.version, '-SNAPSHOT')
      run: '${{ inputs.snapshot_deploy_command }}'
      env:
        MAVEN_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
        MAVEN_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
