# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

on:
  workflow_call:
    # Map the inputs that the caller needs to provide
    inputs:
      java_version:
        description: 'The Java version to use to compile. Default: 21'
        required: false
        type: string
        default: '21' # Java 21 is the default
      build_command:
        description: 'The build command to use. Default: mvn'
        required: false
        type: string
        default: 'mvn -B package --file pom.xml'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    # Cache m2 repository
    - name: Cache local Maven repository
      uses: actions/cache@v5
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-

    - name: Set up JDK '${{ inputs.java_version }}'
      uses: actions/setup-java@v5
      with:
        java-version: '${{ inputs.java_version }}'
        distribution: 'temurin'
        cache: maven

    - name: Build Command invocation
      run: mvn -B package --file pom.xml
      run: '${{ inputs.build_command }}'

    - name: Check for wrong code formatting
      run: |
          if [[ -n $(git status --porcelain) ]]; then
              echo "Code formatting errors"
              echo "----------------------"
              git diff
              exit 1
          fi
